<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amathew.kidtimer.activity" >

    <!--<uses-sdk android:minSdkVersion="21" android:maxSdkVersion="22" android:targetSdkVersion="22"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <activity
            android:name="com.amathew.kidtimer.activity.MyActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amathew.kidtimer.activity.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.amathew.kidtimer.activity.MyActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amathew.kidtimer.activity.MyActivity" />
        </activity>
        <activity android:name="com.amathew.anilmathew.hw.DisplayMessageAc" />
    </application>

</manifest>
